{% extends "base.html" %}
{% block title %}Detalle de Ventas{% endblock %}

{% block body %}
    <style onload="dynamicNavBar('/salesSection')"></style>
    {% if Activa == 'SI' %}
    <div class="container-fluid d-lg-flex p-0">
        <div class="col-lg-4 p-4 text-bg-light">
            <h3 class="fst-italic text-center">Agregar productos</h3>

            <form id="addDetailSaleForm">
                <div class="mb-3">
                    <label for="ID_Product" class="form-label">Producto:</label>
                    <select class="form-select" name="ID_Product" id="ID_Product" onchange="getPriceProduct()" required>
                        {% if allProducts %}
                            <option value="" disabled selected>Selecciona una opción</option>
                            {% for product in allProducts %}
                                {% if product[4] == 0%}
                                    <option disabled value="">{{ product[1] }} (No disponible)</option>
                                {% else %}
                                    <option id="{{ product[0] }}" data-price="{{ product[3] }}" data-piece="{{ product[4] }}" value="{{ product[0] }}">{{ product[1] }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <option value="" disabled selected>No hay productos registrados</option>
                        {% endif %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="Cantidad" class="form-label">Cantidad:</label>
                    <input type="number" class="form-control form" id="Cantidad" name="Cantidad" min="0"
                        placeholder="Introduzca la cantidad a vender..." pattern="^[1-9]+$" oninput="calculateTotalPrice()"
                        readonly required>
                    <div id="quantityAvailable" class="fst-italic"></div>
                </div>

                <div class="mb-3">
                    <label for="Precio" class="form-label">Precio:</label>
                    <input type="text" class="form-control" id="Precio" name="Precio"
                        placeholder="Introduzca el precio por unidad del producto..." pattern="^[0-9]+(\.[0-9]{1,2})?$"
                        title="Solo se permiten números y hasta dos decimales" readonly required>
                </div>

                <div class="mb-3">
                    <label for="Total" class="form-label">Total:</label>
                    <input class="form-control" type="text" name="Total" id="Total"
                        placeholder="Introduzca el total de la venta..." pattern="^[0-9]+(\.[0-9]{1,2})?$"
                        title="Solo se permiten números y hasta dos decimales" readonly required>
                </div>
                <button type="submit" class="btn btn-success col-12">Agregar</button>
            </form>
        </div>
        {% endif %}
            <div class="table-responsive {% if Activa == 'SI' %}col-lg-8{% endif %}">
                <table class="table table-hover text-center" id="salesProductsTable">
                    <thead class="table-success align-text-top">
                        <tr>
                            {% if Activa == 'SI' %}
                                <th>Eliminar Producto</th>
                            {% endif %}
                            <th>Producto</th>
                            <th>Cantidad Vendida</th>
                            <th>Precio</th>
                            <th>Total</th>

                        </tr>
                    </thead>
                    <tbody id="tableBody">

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="fw-bold">TOTAL GENERAL</td>
                            <td class="text-success fw-bold" id="totalProductSales">$0</td>
                            <!-- <td class="text-success"><strong>${{ totalSales }}</strong></td> -->
                        </tr>
                    </tfoot>
                </table>
                <div class="container d-flex justify-content-center"><button type="button" class="col-12 btn btn-success" id="sendProductSalesDataBtn">Vender todos los productos</button></div>
            </div>
    {% if Activa == 'SI' %}
    </div>
    <script>
        const button = document.querySelector('#sendProductSalesDataBtn');
        const table = document.querySelector('#tableBody');
        let productsToSale = undefined;
        const allproductsToSaleValue = [];

        button.addEventListener('click', function () {
            if (table.children.length > 0 ) {
                console.log(table.children)
                productsToSale = table.children;

                for (let index = 0; index < productsToSale.length; index++) {
                    const product = {name: productsToSale[index].children[1].innerHTML, quantity: productsToSale[index].children[2].innerHTML, price: productsToSale[index].children[3].innerHTML, total: productsToSale[index].children[4].innerHTML};
                    allproductsToSaleValue.push(product)
                }

                fetch('/addSalesProducts', {headers : {'Content-Type' : 'application/json'}, method : 'POST',
                    body : JSON.stringify( {
                        'Lista' : allproductsToSaleValue
                    })
                })
                .then(function (response){

                    if(response.ok) {
                        response.json()
                        table.remove();
                        document.getElementById("totalProductSales").innerText = "$0";
                        alert("Venta realizada con éxito.")
                        .then(function(response) {
                            console.log(response);
                            //Eliminar columnas de la tabla y poner mensaje con JS de que se registro la venta
                        });
                    }
                    else {
                        throw Error('Something went wrong');
                    }
                })
                .catch(function(error) {
                    console.log(error);
                });
                console.log(allproductsToSaleValue)
            }else{
                alert("No ha agregado productos para vender.")
            }
        });
    </script>
    <script>
        const form = document.getElementById("addDetailSaleForm");

        form.addEventListener("submit",function(event){
            event.preventDefault();

            // Creación de objeto con los datos del form
            let formData = new FormData(form);
            // Creación de variable 
            let tableProductSale = document.getElementById("tableBody");
            // Obtener opción seleccionada
            let productSelect = document.querySelector("#ID_Product");
            let selectedOption = productSelect.selectedOptions[0];
            // Obtener valores de la opción: texto, piezas y cantidad a vender
            let productName = productSelect.selectedOptions[0].innerText;
            let piecesAvailable = selectedOption.getAttribute("data-piece");
            let inputQuantity = document.getElementById("Cantidad");
            let pieceSale = inputQuantity.value;
            // Descontar lo añadido a la venta del inventario
            let totalPiece = parseInt(piecesAvailable) - parseInt(pieceSale)

            if (pieceSale > 0 ) {
                let ID_Product = document.getElementById("ID_Product").value
                document.getElementById(ID_Product).setAttribute("data-piece", totalPiece)

                if (totalPiece > 0) {
                    document.getElementById("quantityAvailable").innerText = "Cantidad disponible: " + totalPiece;
                    inputQuantity.setAttribute("max", totalPiece);
                } else {
                    inputQuantity.setAttribute("readonly", true);
                    productSelect.selectedOptions[0].innerText = productName + " (No disponible)"
                    productSelect.selectedOptions[0].setAttribute("disabled", true)
                    inputQuantity.value = 0;
                    document.getElementById("quantityAvailable").innerText = "Sin existencias...";
                    document.getElementById("Total").value = 0;
                    document.getElementById("Precio").value = 0;
                }

                let newSaleProductRow = tableProductSale.insertRow();
                let newSaleProductData = newSaleProductRow.insertCell(0);
                let totalProductSale = document.getElementById("totalProductSales");
                let tBodyRows = document.getElementById("tableBody").children;
                const tBodyDataCells = [];
                let productSale = undefined
                let totalPrice = 0;

                newSaleProductData.innerHTML = '<button type="button" class="btn btn-danger" onclick="deleteProductSale(this)">Eliminar</button>'
                newSaleProductData = newSaleProductRow.insertCell(1);
                newSaleProductData.textContent = productName

                newSaleProductData = newSaleProductRow.insertCell(2);
                newSaleProductData.textContent = formData.get("Cantidad");

                newSaleProductData = newSaleProductRow.insertCell(3);
                newSaleProductData.textContent = "$" + formData.get("Precio");

                newSaleProductData = newSaleProductRow.insertCell(4);
                newSaleProductData.textContent = "$" + formData.get("Total");

                for (let index = 0; index < tBodyRows.length; index++) {
                    productSale = tBodyRows[index]
                    productSale.children[4]
                    tBodyDataCells.push(productSale.children[4].innerText);
                }

                for (let number = 0; number < tBodyDataCells.length; number++) {
                    productSale = tBodyDataCells[number].replace("$","");
                    totalPrice += parseFloat(productSale);
                }

                totalProductSale.innerText = '$' + totalPrice.toFixed(2);
            }
        })
    </script>
    {% endif %}

{% endblock %}